/*Обнуление*/
* {
   padding: 0;
   margin: 0;
   border: 0;
}
*,
*:before,
*:after {
   -moz-box-sizing: border-box;
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
}
:focus,
:active {
   outline: none;
}
a:focus,
a:active {
   outline: none;
}

nav,
footer,
header,
aside {
   display: block;
}

html,
body {
   height: 100%;
   width: 100%;
   font-size: 100%;
   line-height: 1;
   font-size: 14px;
   -ms-text-size-adjust: 100%;
   -moz-text-size-adjust: 100%;
   -webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
   font-family: inherit;
}

input::-ms-clear {
   display: none;
}
button {
   cursor: pointer;
}
button::-moz-focus-inner {
   padding: 0;
   border: 0;
}
a,
a:visited {
   text-decoration: none;
}
a:hover {
   text-decoration: none;
}
ul li {
   list-style: none;
}
img {
   vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
   font-size: inherit;
   font-weight: 400;
}
/*--------------------*/

.conteiner {
   max-width: 1280px;
   background-color: darkgray;
   margin: 30px auto;
   padding: 30px;
}
.slider {
   width: 80%;
   border: 2px solid #000;
   margin: 20px auto;
   overflow: hidden;
}
.slider-line {
   display: flex;
   transition: all ease 1s;
}
.caps {
   max-width: 70%;
   min-width: 10%;
   height: 80px;
   margin: 5px auto;
}
.caps__row {
   display: flex;
   align-items: center;
   height: 100%;
   margin: auto;
   justify-content: center;
}
.blok {
   width: 15px;
   height: 15px;
   border-radius: 50%;
   cursor: pointer;
   border: 2px solid aqua;
   margin-left: 2%;
   margin-right: 2%;
}
.blok.active {
   width: 15px;
   height: 15px;
   background-color: aqua;
}
button {
   display: inline;
   padding: 15px;
}
@media screen and (max-width: 768px) {
   .slider {
      width: 100%;
      border: 0px solid #000;
      margin: 0px auto;
   }
   .conteiner {
      padding: 10px 0px 0px 0px;
   }
   button {
      display: none;
   }
}
